<!DOCTYPE html>
<html>
<head>
    <title>Movie Scope</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@100;300&family=Titillium+Web:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img src="/img/uk.png" alt="Logo" class="logo">
        <div id="search-box">
            <form autocomplete="off" class="search-bar">
                <input type="text" placeholder="Search..." id="searchKeyword">
                <button id="searchButton"><img src="/img/search_icon.png" alt="search"></button>
            </form>

            <form  action="/action_page.php">
                <div class="autocomplete" style="width:300px;">
                  <input  type="text" name="myCountry" placeholder="Country">
                </div>
                <input type="submit">
              </form>
        </div>
                  <button id="login-button">Login</button>
                  <button id="register-button">Register</button>
                  <button id="logout-button">Logout</button>
        </div>
    </header>