<!DOCTYPE html>
<html>
<head>
    <title>Movie Reviewer</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
   <%- include('partials/header') %>

    <div class="main-container">
        <div class="carousel">
            <img src="/img/instruction1.png" alt="Movie 1" class="carousel-image active">
            <img src="/img/instruction2.png" alt="Movie 2" class="carousel-image">
            <img src=" " alt="Movie 3" class="carousel-image">
            <p class="description">Description for Movie 1</p>
            <button id="prev">Prev</button>
            <button id="next">Next</button>
        </div>

        <div class="comment-section">

            <div id="movieInfo"></div> 

            <div class="review" id="user-review"></div> 

            <!-- <h3>Show Timings</h3>
            <p id="movie-timings">Select a movie to see show timings.</p>
        
            <h3>Description</h3>
            <p id="movie-description">Select a movie to see its description.</p> -->
            

            <form class="comment-form">
                <textarea placeholder="Write a comment..." id="commentsection"></textarea>
                <button type="submit" id="submit-comment">Submit</button>
                <button type="button" id="update-comment">Update Comment</button>
                <button type="button" id="delete-comment">Delete Comment</button>
            </form>


                   
        </div>
    </div>
    <script src="script.js"></script>
    <%- include('partials/footer') %>
</body>
</html>
