<!DOCTYPE html>
<html>
<head>
    <title>Movie Reviewer</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <%- include('partials/header') %>

        <div id="main-page">
          <button id="start-button" ></button>
        </div>
        
        <script src="script.js"></script>
        </body>
        </html>