<!DOCTYPE html>
<html>
<head>
    <title>Movie Reviewer</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <%- include('partials/header') %>

    <div id="main-page">
      <button id="start-button" ></button>
    </div>
    
    <script>
      document.addEventListener('DOMContentLoaded', (event) => {
        const startButton = document.getElementById('start-button');
        const mainPage = document.getElementById('main-page');
      
        if (!startButton) return;
        startButton.addEventListener('click', function() {
            mainPage.classList.add('scroll-up');
        
            setTimeout(function() {''
            window.location.href = '/login';
          });
          }, 1000); // Adjust the timeout to the length 

        document.getElementById('searchButton').addEventListener('click', (e) => {e.preventDefault(); window.location.href = "/index"});
        document.getElementById('login-button').addEventListener('click', (e) => {e.preventDefault(); window.location.href = "/login"});
        document.getElementById('register-button').addEventListener('click', (e) => {e.preventDefault(); window.location.href = "/register"});
        document.getElementById('logout-button').addEventListener('click', (e) => {
            localStorage.removeItem("username");
            localStorage.removeItem("token");
            window.location.href = "/";});


          const username = localStorage.getItem("username");
          if (username) {
              document.getElementById('login-button').style.visibility = "hidden"; 
              document.getElementById('register-button').style.visibility = "hidden"; 
              document.getElementById('username').textContent = username;
          }
          else {
              document.getElementById('logout-button').style.visibility = "hidden"; 
          }
        }); 
    </script>
</body>
</html>